<div class="d-grid gap-3 mx-auto" style="width: 50vw">

    <h1 class="display-5 text-center">ReCapture this moment!</h1>

    <%= form_with scope: :article, url: articles_update_path, method: "put", local: true do |f| %>

        <div>
            <% if @article.errors.any? %>
                <ul>
                    <% @article.errors.full_messages.each do |message|%>
                        <li>
                            <%= message %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </div>    
        
        <div class="mb-3">
            <%= f.label :name, for:"exampleFormControlInput1", class:"form-label" %>
            <%= f.text_field :name, class:"form-control", id:"exampleFormControlInput1" %>
        </div>
        
        <div class="mb-3">
            <%= f.label :body, for:"exampleFormControlTextarea1", class:"form-label" %>
            <%= f.text_area :body, class:"form-control", id:"exampleFormControlTextarea1", rows:"7", style:"resize: none;" %>
        </div>
        
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <%= link_to "Back", articles_path + "/#{@article.id}", class:"btn btn-dark" %>
            <%= f.submit class:"btn btn-success" %>
        </div>
    <% end %>
</div>